In [1]:
import os

data_dir = 'data'

def list_subdirectories(directory):
    return [item for item in os.listdir(directory)
            if os.path.isdir(os.path.join(directory, item))]


ids = list_subdirectories(data_dir)
ids

['135',
 '61',
 '95',
 '132',
 '59',
 '92',
 '66',
 '104',
 '50',
 '68',
 '103',
 '168',
 '157',
 '159',
 '166',
 '192',
 '35',
 '102',
 '69',
 '56',
 '58',
 '67',
 '93',
 '134',
 '94',
 '34',
 '160',
 '194',
 '33',
 '158',
 '167',
 '169',
 '156',
 '174',
 '180',
 '20',
 '173',
 '27',
 '9',
 '0',
 '11',
 '142',
 '7',
 '189',
 '129',
 '42',
 '89',
 '45',
 '111',
 '73',
 '118',
 '87',
 '80',
 '74',
 '120',
 '17',
 '188',
 '144',
 '1',
 '10',
 '186',
 '19',
 '8',
 '181',
 '175',
 '21',
 '75',
 '81',
 '121',
 '119',
 '72',
 '126',
 '44',
 '110',
 '43',
 '128',
 '117',
 '153',
 '38',
 '154',
 '36',
 '162',
 '31',
 '165',
 '65',
 '62',
 '96',
 '109',
 '100',
 '54',
 '107',
 '98',
 '30',
 '190',
 '164',
 '37',
 '155',
 '39',
 '152',
 '106',
 '99',
 '52',
 '55',
 '137',
 '97',
 '63',
 '130',
 '64',
 '90',
 '46',
 '79',
 '41',
 '115',
 '83',
 '77',
 '70',
 '124',
 '184',
 '170',
 '177',
 '148',
 '23',
 '4',
 '15',
 '12',
 '179',
 '85',
 '71',
 '76',
 '82',
 '49',
 '122',
 '40',
 '114',
 '47',
 '113',
 '78',
 '2',
 '178',
 '13',
 '5',
 '140',
 '14',
 '176',
 '22',
 '171',
 '25']

In [2]:
int_ids = sorted([int(item) for item in ids])
int_ids

[0,
 1,
 2,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 20,
 21,
 22,
 23,
 25,
 27,
 30,
 31,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 54,
 55,
 56,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 87,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 102,
 103,
 104,
 106,
 107,
 109,
 110,
 111,
 113,
 114,
 115,
 117,
 118,
 119,
 120,
 121,
 122,
 124,
 126,
 128,
 129,
 130,
 132,
 134,
 135,
 137,
 140,
 142,
 144,
 148,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 162,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 184,
 186,
 188,
 189,
 190,
 192,
 194]

In [8]:
print('업데이트된 데이터 개수', len(int_ids))
print('테이블의 데이터 개수', max(int_ids))

업데이트된 데이터 개수 147
테이블의 데이터 개수 194

In [12]:
import pandas as pd

meta = pd.read_csv('meta.csv')
meta

     index Sex Research Group  APOE   Age  CDR  CDR_SOB  MMSE  GDS
0        0   M             CN     0  81.1  0.0      0.0    30    0
1        1   M             CN     0  76.3  0.0      0.0    27    0
2        2   F             CN     1  74.0  0.0      0.0    28    2
3        4   F             CN     0  74.4  0.0      0.0    29    0
4        5   F             CN     0  71.7  0.0      0.0    28    0
..     ...  ..            ...   ...   ...  ...      ...   ...  ...
184    191   M             CN     0  77.7  0.0      0.0    28    0
185    192   F             CN     0  82.0  0.0      0.5    29    0
186    193   F             CN     0  84.0  0.0      0.5    28    4
187    194   F             CN     0  76.5  0.0      0.0    30    0
188    195   F             CN     0  78.7  0.0      0.0    29    0

[189 rows x 9 columns]

In [17]:
# 결측 데이터 제거
processed_meta = meta[meta['index'].isin(int_ids)]
processed_meta

     index Sex Research Group  APOE   Age  CDR  CDR_SOB  MMSE  GDS
0        0   M             CN     0  81.1  0.0      0.0    30    0
1        1   M             CN     0  76.3  0.0      0.0    27    0
2        2   F             CN     1  74.0  0.0      0.0    28    2
3        4   F             CN     0  74.4  0.0      0.0    29    0
4        5   F             CN     0  71.7  0.0      0.0    28    0
..     ...  ..            ...   ...   ...  ...      ...   ...  ...
181    188   F             CN     0  71.8  0.0      0.0    28    0
182    189   F             CN     1  82.8  0.0      0.0    27    3
183    190   M             CN     0  75.7  0.0      0.0    29    0
185    192   F             CN     0  82.0  0.0      0.5    29    0
187    194   F             CN     0  76.5  0.0      0.0    30    0

[147 rows x 9 columns]

In [18]:
processed_meta.to_csv('processed_meta.csv', index=False)